<%- include("_header") %>

<h1>Share Info</h1>

<div class="add-btn"><a href="blogs/new">Add Blog</a></div>

<div class="blogs-container">
  <% blogs.forEach(blog => {%>
  <div class="blog">
    <a href="blogs/<%= blog.slug %>"> >> read >> </a>
    <h3><%= blog.title %></h3>
    <p><%= blog.author %></p>
    <div class="created-time"><%= blog.timeCreated.toLocaleDateString() %></div>

    <p><%= blog.snippet %></p>

    <div class="btns">
      <button class="btn">
        <a href="blogs/edit/<%= blog.id %>">Edit</a>
      </button>

      <form action="/blogs/<%=blog.id%>?_method=DELETE" method="POST">
        <button class="btn">Delete</button>
      </form>
    </div>
  </div>
  <% }) %>
</div>

<!-- <script src="/js/index.js"></script> -->

<%- include("_footer") %>
