<%- include("../partials/_header") %>
<div class="header">
  <p>ShareLog</p>
</div>

<div class="edit-page">
  <h1 class="page-h1">Edit Blog</h1>

  <form action="/blogs/<%= blog.id %>?_method=PUT" method="POST">
    <div class="input-container">
      <label for="title" class="label">Title</label>
      <input type="text" name="title" value="<%= blog.title %>" required />
    </div>

    <div class="input-container">
      <label for="author" class="label">Author</label>
      <input type="text" name="author" value="<%= blog.author %>" required />
    </div>

    <div class="input-container">
      <label for="placeName" class="label">Name of the place</label>
      <input
        type="text"
        name="placeName"
        value="<%= blog.placeName %>"
        required
      />
    </div>

    <div class="input-container">
      <label for="country" class="label">Country</label>
      <input type="text" name="country" value="<%= blog.country %>" required />
    </div>

    <div class="input-container">
      <label for="body" class="label">Body</label>
      <textarea type="text" name="body">
      <%= blog.body %>
      </textarea>
    </div>

    <div class="input-container">
      <button class="btn can-btn"><a href="/blogs">Cancel</a></button>
      <button type="submit" class="btn save-btn">Edit</button>
    </div>
  </form>
</div>
<%- include("../partials/_footer") %>
